/*Body*/
.intro, .calculate {
	background: #303030;
	--bs-card-border-radius: 20px;
}

.intro .card-title {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-color: #f9d237;
}

.intro .card-text {
	font-size: 20px;
}

.intro .carousel-inner {
	border-radius: 20px;
	max-height: 60vh;

	@media only screen and (min-width: 900px) {
		max-height: 80vh;
	}
}

.intro .carousel-inner > .carousel-item {
	height: 100%;
}

.intro .carousel-inner img {
	border-radius: 20px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
}

.intro strong {
	font-size: 30px;
	color: #1eab45;
}

.carousel-indicators {
	opacity: 0;
	transition: opacity 200ms;
}

.carousel-indicators:hover {
	opacity: 1;
}