/*Body*/
.intro {
	border-radius: 20px;
}

.intro .card-title {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-color: #f9d237;
}

.intro .carousel-inner {
	background: #888;
	border-radius: 20px;
	max-height: 60vh;

	@media only screen and (min-width: 900px) {
		max-height: 80vh;
	}
}

.intro .carousel-inner > .carousel-item {
	height: 100%;
}

.intro .carousel-inner img {
	border-radius: 20px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
}

.carousel-indicators {
	opacity: 0;
	transition: opacity 200ms;
}

.carousel-indicators:hover {
	opacity: 1;
}

.echoimg {
	margin: 10px;
	width: 100%;
	border-radius: 20px;
	border: 2px solid lightgray;
}

.drone {
	/* position: absolute; */
	margin-top: 12vh;
	width: 80vw;
	/* left: 50%; */
	/* transform: translateX(-50%); */
}

.sianup {
	position: relative;
	margin-top: 20vh;
	margin-left: 10vw;
	margin-right: 3vw;
	top: -15vh
}

.signtitle {
	font-weight: normal
}

.cont {
	font-family: Microsoft JhengHei;
	font-size: 24px;
}

.ech {
	font-size: 20px;
	text-indent: -1em;
	padding: 1em 1em 1em 2em;
}

.ech .fa {
	width: 0.8em;
	margin: 0;
	padding: 0;
	text-indent: 0em;
}

.chancol {
	font-size: 30px;
	color: #1eab45;
}

.myDiv:hover {
	background: lightgrey;
}