body {
	background: #ffffff;
}

.slogan {
	width: 100%;
}

.title {
	margin: 1em 0 0.5em;
}

.title > span {
	white-space: nowrap;
	margin: 0 -1px;
}

#members .card {
	--bs-card-bg: #202126;
}

#members .card .card-subtitle {
	color: #BBB;
}

#members .card .card-img {
	height: 220px;
	overflow: hidden;
}

#members .card .card-img > img {
	width: 200px;
	/*height: 100%;*/
	margin-left: 50%;
	transform: translateX(-50%);
}

h1 {
	font-size: 40px;
	text-align: center;
	color: #564E4E;
}


/*Body*/
.intro, .calculate {
	background: #ffffff;
	border:none;
}

.intro .card-title {
	font-size: 70px;
	text-align: left;
	color: #040404;
}
.intro .card-sectext {
	font-size: 35px;
	color: #040404;
}
.intro .card-text {
	font-size: 15px;
	color: #040404;
}

.intro .carousel-inner {
	max-height: 60vh;

	@media only screen and (min-width: 900px) {
		max-height: 80vh;
	}
}

.intro .carousel-inner > .carousel-item {
	height: 100%;
}

.intro .carousel-inner img {
	border-radius: 20px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
}

.intro strong {
	font-size: 30px;
	color: #1eab45;
}

.carousel-indicators {
	opacity: 0;
	transition: opacity 200ms;
}

.carousel-indicators:hover {
	opacity: 1;
}
.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
.active {
	background-color:#ffffff;/*#6CFD72;*/
  }

.butsize {
	width: 200px;
    height: auto;
}
.object {
	padding-right:5px; 
  }
.firstcontainerwordsize {
	height: auto;
    max-width: 120%;
   }
.secondcontainerwordsize {
	height: auto;
    max-width: 90%;
   }
/*Second box*/
.intro2 {
	background: linear-gradient(to bottom, hsl(0, 0%, 7%) ,hsl(194, 68%, 28%));
	border:none;
}
.container2 {
	display:flex; 
	flex-direction: row; 
  }
 .image2_2 {
	width: 120%;
	height: auto;
	@media screen and (max-width: 900px) {
		width: 90%; 
	}
  }
  .image2_1 {
	width: 150%;/*700px;*/
	height: auto/*200px*/;
	@media screen and (max-width: 900px) {
		width: 110%; 
	}
  }
 
   /*Third box*/
.intro3 {
    background: linear-gradient(to right, hsl(0, 0%, 7%), hsl(270, 65%, 44%));
    border: none;
	
}
.container3 {
	display:flex; 
	flex-direction: row-reverse; 
  }
  .image3_2 {
	width: 125%;
	height: auto;
	@media screen and (max-width: 900px) {
		width: 90%; 
	}
  }
  .image3_1 {
	width: 125%;/*700px;*/
	height: auto/*200px*/;
	@media screen and (max-width: 900px) {
		width: 90%; 
	}
  }
  /*Aboutus*/
  .imagemember {
	width: 35%;/*380px;*/
	height:auto; /*207px;*/
	@media screen and (max-width: 1000px) {
		width: 25%; 
	}
  }
  .membera {
	height: auto;
    max-width: 90%;
	@media screen and (max-width: 1000px) {
		width: 95%; 
	}
   }

   .introECHO {
	background:  #ffffff;
	border:none;
}
.moremember {
	height: auto;
    max-width: 15%;
	@media screen and (max-width: 1000px) {
		width: 50%; 
	}
}
.mainidea {
	height: auto;
    max-width: 90%;
	@media screen and (max-width: 1000px) {
		width: 110%; 
	}
   }

/*ECHO 得獎照片*/
