body {
	background: #353433;
}

.slogan {
	width: 100%;
}

.title {
	margin: 1em 0 0.5em;
}

.title > span {
	white-space: nowrap;
	margin: 0 -1px;
}

#members .card {
	--bs-card-bg: #202126;
}

#members .card .card-subtitle {
	color: #BBB;
}

#members .card .card-img {
	height: 220px;
	overflow: hidden;
}

#members .card .card-img > img {
	width: 200px;
	/*height: 100%;*/
	margin-left: 50%;
	transform: translateX(-50%);
}

h1 {
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 8px;
	text-decoration-color: #f9d237;
}


/*Body*/
.intro, .calculate {
	background: #303030;
	--bs-card-border-radius: 20px;
}

.intro .card-title {
	font-size: 70px;
	text-align: left;
}
.intro .card-sectext {
	font-size: 35px;
}
.intro .card-text {
	font-size: 20px;
	color: #BBB;
}

.intro .carousel-inner {
	border-radius: 20px;
	max-height: 60vh;

	@media only screen and (min-width: 900px) {
		max-height: 80vh;
	}
}

.intro .carousel-inner > .carousel-item {
	height: 100%;
}

.intro .carousel-inner img {
	border-radius: 20px;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
}

.intro strong {
	font-size: 30px;
	color: #1eab45;
}

.carousel-indicators {
	opacity: 0;
	transition: opacity 200ms;
}

.carousel-indicators:hover {
	opacity: 1;
}
.dot {
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  .active {
	background-color:#6CFD72;
  }