h1 {
    position: relative;
    font-size: 40px;
    top: 5vh;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #f9d237;
}

.drone {
    /* position: absolute; */
    margin-top: 12vh;
    width: 80vw;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

/*About Us*/
.PicContainer {
    position: relative;
}

.PicHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.Pic {
    display: flex;
    position: relative;
    top: 10px;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin-top: 10vh;
    width: 78vw;
    left: 50%;
    transform: translateX(-50%);
}


/* Service */
.serviceContainer {
    top: 60px;
    max-width: 75vw;
    margin: 24px auto;
    position: relative;
}

.serviceContainer .previous-btn,
.serviceContainer .next-btn {
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.serviceContainer .previous-btn.active,
.serviceContainer .next-btn.active {
    opacity: 1;
    pointer-events: auto;
}


.serviceContainer .previous-btn,
.serviceContainer .next-btn {
    width: 50px;
    position: absolute;

}

.serviceContainer .previous-btn {
    left: 8px;

    top: 50%;
    transform: translateY(-50%);
    background-color: gray;
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;
}

.serviceContainer .next-btn {
    right: 8px;

    top: 50%;
    transform: translateY(-50%);
    background-color: gray;
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    cursor: pointer;

}

.serviceContainer .service {
    height: 40vw;
    width: 25vw;
    flex-shrink: 0;
}

.serviceContainer .service img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.serviceContainer .services {
    display: flex;
    gap: 8px;
}

.serviceContainer .content {
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.serviceContainer .content::-webkit-scrollbar {
    display: none;
    scrollbar-width: 0;

}

.icon {
    float: left;
}

.container {
    padding: 10px;
}

a {
    bottom: 0;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-right: 1vw;
}

p {
    margin-top: 10px;
}


.rounded-border {
    border: 2px solid lightgray;
    border-radius: 10px;
}