<div class="modal fade text-black" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
	<!-- Modal -->
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-4" id="downloadModalLabel">下載 TCF APP</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body fs-5">
				<i class="fa-solid fa-circle-info"></i> App目前仍處於開發測試階段，並非包含所有功能<br><br>
				Android:
				<a type="button" class="btn btn-primary position-relative" href="https://wavjaby.nckuctf.org/NCKUpp/res/app-release.apk">
					<i class="fa-brands fa-android"></i> 測試版App v0.2
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">dev</span>
				</a>
				<!--<img src="./res/Services/main.png" class="rounded" alt="">-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
			</div>
		</div>
	</div>
</div>