<footer class="footer ">
    <div class="d-flex">
        <div class="container">
            <p>聯絡我們</p>
            <p>電話: 0970641090</p>
            <p>E-mail: <a href="mailto:a9648124@gmail.com">a9648124@gmail.com</a></p>
            <!--<div class="icon">-->
            <!--	<a href="#"><i class="fa fa-facebook"></i></a>-->
            <!--	<a href="#"><i class="fa fa-instagram"></i></a>-->
            <!--	<a href="#"><i class="fa fa-twitter"></i></a>-->
            <!--</div>-->
        </div>
        <div class="container ml-auto">
            <!--<p>Get what you want, when you want it</p>-->
            <!--<p>隱私權政策&emsp;cookie政策&emsp;網站使用說明&emsp;會員服務</p>-->
        </div>
    </div>
</footer>