<footer class="text-white text-center text-lg-start bg-dark">
	<!-- Grid container -->
	<div class="container p-4">
		<!--Grid row-->
		<div class="row mt-4">
			<!--Grid column-->
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="mb-4">關於</h5>
				<p><font size="5">ECHO團隊由不同領域的學生組成<br>X-CTF 揭開您每日的交通碳足跡數據</font></p>

				<!--<div class="mt-4">-->
				<!--	&lt;!&ndash; Facebook &ndash;&gt;-->
				<!--	<a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>-->
				<!--	&lt;!&ndash; Dribbble &ndash;&gt;-->
				<!--	<a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>-->
				<!--	&lt;!&ndash; Twitter &ndash;&gt;-->
				<!--	<a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>-->
				<!--	&lt;!&ndash; Google + &ndash;&gt;-->
				<!--	<a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>-->
				<!--	&lt;!&ndash; Linkedin &ndash;&gt;-->
				<!--</div>-->
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
				<!--<h5 class="text-uppercase mb-4 pb-1">Search something</h5>-->
				<!--<div class="form-outline form-white mb-4">-->
				<!--	<input type="text" id="formControlLg" class="form-control form-control-lg"/>-->
				<!--	<label class="form-label" for="formControlLg">Search</label>-->
				<!--</div>-->

				<h5 class="mb-2 pb-1">聯絡我們</h5>
				<ul class="fa-ul">
					<!--<li class="mb-3">-->
					<!--	<span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Warsaw, 00-967, Poland</span>-->
					<!--</li>-->
					<li class="mb-3">
						<span class=""><i class="fas fa-envelope"></i></span>
						<span class="ms-2">Email: <a href="mailto:a9648124@gmail.com">a9648124@gmail.com</a></span>
					</li>
					<li class="mb-3">
						<span class=""><i class="fas fa-phone"></i>
						</span><span class="ms-2">電話: 0970641090</span>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: #00000040;">
		© 2023 Copyright ECHO
	</div>
	<!-- Copyright -->
</footer>
<!-- End of .container -->
<!--<footer class="footer ">-->
<!--    <div class="d-flex">-->
<!--        <div class="container">-->
<!--            <p>聯絡我們</p>-->
<!--            <p>電話: 0970641090</p>-->
<!--            <p>E-mail: <a href="mailto:a9648124@gmail.com">a9648124@gmail.com</a></p>-->
<!--            &lt;!&ndash;<div class="icon">&ndash;&gt;-->
<!--            &lt;!&ndash;	<a href="#"><i class="fa fa-facebook"></i></a>&ndash;&gt;-->
<!--            &lt;!&ndash;	<a href="#"><i class="fa fa-instagram"></i></a>&ndash;&gt;-->
<!--            &lt;!&ndash;	<a href="#"><i class="fa fa-twitter"></i></a>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="container ml-auto">-->
<!--            &lt;!&ndash;<p>Get what you want, when you want it</p>&ndash;&gt;-->
<!--            &lt;!&ndash;<p>隱私權政策&emsp;cookie政策&emsp;網站使用說明&emsp;會員服務</p>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->