<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="res/logo.png" class="logo"/>
            <img src="res/logo_text.png" class="logo-text"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="ECHO.html">ECHO系統</a>
                <button class="nav-link download" data-bs-toggle="modal" data-bs-target="#downloadModal">下載</button>
            </div>
        </div>
    </div>
</nav>